<!DOCTYPE html>
<!-- Please do not change. At least inform me before making changes. -->
{% load staticfiles %}
<html>

    <head>
        <title>MegaByke Route Planner</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{%  static "js/bikeWayPlotter.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" type="text/css" href="{% static "css/htmlStyle.css" %}" />
        <input type="hidden" id="dallBikeWays" name="variable" value="{{ allBikeWays }}">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0A3v4kMlYeB0ETKBdqKXxawl4iLEeYvQ&libraries=places">
	    </script>
        
        <script type="text/javascript">
            var loggedIn = false;
            var times = 0;
             

            function initialize() {
            
                // map setup
                var mapProp = {
                center:new google.maps.LatLng(49.2827,-123.1207),
                zoom:12,
                mapTypeId:google.maps.MapTypeId.ROADMAP
                };
                var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);


                var allBikeWays = {{ allBikeWays }};
                console.log(allBikeWays[0]);
                console.log("under defined var");
                console.log("above for loop");
                for (var i = 0; i < allBikeWays.length; i++) {
                plotBikeWay(allBikeWays[i], map);
                console.log("in index for loop");
                }

                // setting up the search boxes
                var markers1 = [];
                var markers2 = [];
                var markers3 = [];
                var markers4 = [];
                var markers5 = [];

                var locationInput1 = /** @type {HTMLInputElement} */(document.getElementById('locationInput1'));
                var locationInput2 = /** @type {HTMLInputElement} */(document.getElementById('locationInput2'));
                var locationInput3 = /** @type {HTMLInputElement} */(document.getElementById('locationInput3'));
                var locationInput4 = /** @type {HTMLInputElement} */(document.getElementById('locationInput4'));
                var locationInput5 = /** @type {HTMLInputElement} */(document.getElementById('locationInput5'));
                // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                var searchBox1 = new google.maps.places.SearchBox(/** @type {HTMLInputElement} */(locationInput1));
                var searchBox2 = new google.maps.places.SearchBox(/** @type {HTMLInputElement} */(locationInput2));
                var searchBox3 = new google.maps.places.SearchBox(/** @type {HTMLInputElement} */(locationInput3));
                var searchBox4 = new google.maps.places.SearchBox(/** @type {HTMLInputElement} */(locationInput4));
                var searchBox5 = new google.maps.places.SearchBox(/** @type {HTMLInputElement} */(locationInput5));

                google.maps.event.addListener(searchBox1, 'places_changed', function() { plotPlaces(searchBox1, markers1); });
                google.maps.event.addListener(searchBox2, 'places_changed', function() { plotPlaces(searchBox2, markers2); });
                google.maps.event.addListener(searchBox3, 'places_changed', function() { plotPlaces(searchBox3, markers3); });
                google.maps.event.addListener(searchBox4, 'places_changed', function() { plotPlaces(searchBox4, markers4); });
                google.maps.event.addListener(searchBox5, 'places_changed', function() { plotPlaces(searchBox5, markers5); });


                function plotPlaces(searchBox, markers) {
    			    var places = searchBox.getPlaces();
    			
    			    if (places.length == 0) {
    			      return;
    			    }
    			    for (var i = 0, marker; marker = markers[i]; i++) {
    			      marker.setMap(null);
    			    }
    			
    			    // For each place, get the icon, place name, and location.
    			    markers = [];
    			    var bounds = new google.maps.LatLngBounds();
    			    for (var i = 0, place; place = places[i]; i++) {
    			      var image = {
    			        url: place.icon,
    			        size: new google.maps.Size(71, 71),
    			        origin: new google.maps.Point(0, 0),
    			        anchor: new google.maps.Point(17, 34),
    			        scaledSize: new google.maps.Size(25, 25)
    			      };
    			
    			      // Create a marker for each place.
    			      var marker = new google.maps.Marker({
    			        map: map,
    			        icon: image,
    			        title: place.name,
    			        position: place.geometry.location
    			      });
    			
    			      markers.push(marker);
    			
    			      bounds.extend(place.geometry.location);
    			    }
    			
    			    map.fitBounds(bounds);
                }
                // [END region_getplaces]

                // Bias the SearchBox results towards places that are within the bounds of the
                // current map's viewport.
                google.maps.event.addListener(map, 'bounds_changed', function() {
                    var bounds = map.getBounds();
                    searchBox.setBounds(bounds);
                });
			  

            }
            
            google.maps.event.addDomListener(window, 'load', initialize);

            $(document).ready(function() {
                var sub = $('.submitBtn');
                sub.click(function() {
                    // alert("Okay this should be fine if you see this.");
                    document.getElementById('accountLi').style.visibility = 'visible';
                    if (times >= 1)
                        document.getElementById('additionalLi').style.visibility = 'visible';
                    times ++;
                });
            });

        </script>

    </head>
    <body>
    <nav>
        <div id='navBar'>
            <ul>
            	<a href="/RoutePlanner/"> <li>Home </li></a> 
            	<a href="/RoutePlanner/about.html"> <li> About </li></a>                     
                {% if user.is_authenticated %}
		        <a href="/RoutePlanner/logout.html"> <li>Log Out</li></a> 
		        <a href="/RoutePlanner/account.html"> <li>My Account</li></a> 
		        {% else %}
		        <a href="/RoutePlanner/login.html"><li>Log In</li></a> 
		        <a href="/RoutePlanner/register.html"><li>Get Started</li></a> 
		        {% endif %}
                
            </ul>
        </div>
    </nav>
        <div id='title'>
            <h1> Route Planner </h1>          
        </div>
        <div id="infoInput">
            
            <form>
                <p class="instructions"> Enter your starting point: </p>
                <input type="text" placeholder="Location"> <br/>
                <p class="instructions"> Enter your destination: </p>
                <input type="text" placeholder="location"> <br/>
                <input class="submitBtn" type="button" value="Submit"> </input>
            </form>
       </div>
       <div id = "extraData">
            Locations:
            <table id="markerTable"><br/>
            <input id="locationInput1" class="controls" type="text" placeholder="Location 1"><br/>
            <input id="locationInput2" class="controls" type="text" placeholder="Location 2"><br/>
            <input id="locationInput3" class="controls" type="text" placeholder="Location 3"><br/>
            <input id="locationInput4" class="controls" type="text" placeholder="Location 4"><br/>
            <input id="locationInput5" class="controls" type="text" placeholder="Location 5"><br/>
            </table>
            {% if user.is_authenticated %}
            	Logged in as {{ user.username }}<br/>
            {% endif %}
            <br/>
            	Last updated: {{ updateTime|safe }}
            <br/>
            {% if user.is_superuser %}
            <form action="#" method="get">
                <input class="submitBtn" type="submit" value="Update Database" name="update"> </input>
            </form>
            {% endif %}
            
        </div>
        
        <div id="googleMap">
        </div>
        
    </body>

</html>