<!DOCTYPE html>
<!-- Please do not change. At least inform me before making changes. -->
{% load staticfiles %}
<html>

    <head>
        <title>MegaByke Route Planner</title>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{%  static "js/bikeWayPlotter.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" type="text/css" href="{% static "css/htmlStyle.css" %}" />
        <input type="hidden" id="dallBikeWays" name="variable" value="{{ allBikeWays }}">
        <script type="text/javascript">
            var loggedIn = false;
            var times = 0;

            function hideAccountPage() {
{#                document.getElementById("accountLi").style.visibility = "hidden";#}
{#                document.getElementById('additionalLi').style.visibility = 'hidden';#}
            }

            function initialize() {
              var mapProp = {
                center:new google.maps.LatLng(49.2827,-123.1207),
                zoom:12,
                mapTypeId:google.maps.MapTypeId.ROADMAP
              };
              var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
{#              if (!loggedIn)#}
{#                hideAccountPage();#}


              var allBikeWays = {{ allBikeWays }};
              console.log(allBikeWays[0]);
              console.log("under defined var");
              console.log("above for loop");
              for (var i = 0; i < allBikeWays.length; i++) {
                  plotBikeWay(allBikeWays[i], map);
                  console.log("in index for loop");
              }
{#              plotBikeWay(map);#}
              console.log("after plotLines");


{#                var allBikeWays = [[[49.2327,-123.1207], [49.2827,-123.1907], [49.2227,-123.1207]],#}
{#                    [[49.3827,-123.1207], [49.1827,-123.1207]]];#}
                //var allBikeWays = [[49.2327,-123.1207], [49.2827,-123.1907], [49.2227,-123.1207]];
                //TODO: iterate over all bikeWays, current method plots one successfully

            }
            google.maps.event.addDomListener(window, 'load', initialize);

            $(document).ready(function() {
                var sub = $('.submitBtn');
                sub.click(function() {
                    // alert("Okay this should be fine if you see this.");
                    document.getElementById('accountLi').style.visibility = 'visible';
                    if (times >= 1)
                        document.getElementById('additionalLi').style.visibility = 'visible';
                    times ++;
                });
            });


        </script>
        <style>


       /*     #accountLi {
                visibility: hidden;
            }*/
        </style>
    </head>

    <body>
    <nav>
        <div id='navBar'>
            <ul>
            	<a href="/RoutePlanner/"> <li>Home </li></a> 
            	<a href="/RoutePlanner/about.html"> <li> About </li></a>                     
                {% if user.is_authenticated %}
		        <a href="/RoutePlanner/logout.html"> <li>Log Out</li></a> 
		        <a href="/RoutePlanner/account.html"> <li>My Account</li></a> 
		        {% else %}
		        <a href="/RoutePlanner/login.html"><li>Log In</li></a> 
		        <a href="/RoutePlanner/register.html"><li>Get Started</li></a> 
		        {% endif %}
                
<!--                 <li id="accountLi"> <a href="accountpage.html"> My Account </a> </li> -->
<!--                 <li id="additionalLi"> <a href="#"> Additional Functionality </a> </li> -->
            </ul>
        </div>
    </nav>
        <div id='title'>
            <h1> Route Planner </h1>          
        </div>
        <div id="infoInput">
            
            <form>
                <p class="instructions"> Enter your starting point: </p>
                <input type="text" placeholder="Location"> <br/>
                <p class="instructions"> Enter your destination: </p>
                <input type="text" placeholder="location"> <br/>
                <input class="submitBtn" type="button" value="submit"> </input>
            </form>
            All Markers On Map:
            <table id="markerTable">
            </table>
            {% if user.is_authenticated %}
            	Logged in as {{ user.username }}<br/>
            {% endif %}
            <br/>
            	Last updated: {{ updateTime|safe }}
            
        </div>
        <div id="googleMap">
        </div>
        
    </body>

</html>