<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>MegaByke Route Planner</title>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" type="text/css" href="{% static "css/htmlStyle.css" %}" />
    </head>

    <body>
	    <nav>
	        <div id='navBar'>
            <ul>
            	<a href="/RoutePlanner/"> <li>Home </li></a> 
            	<a href="/RoutePlanner/about.html"> <li> About </li></a>                   
                {% if user.is_authenticated %}
		        <a href="/RoutePlanner/logout.html"> <li>Log Out</li></a> 
		        <a href="/RoutePlanner/account.html"> <li>My Account</li></a> 
		        {% else %}
		        <a href="/RoutePlanner/login.html"><li>Log In</li></a> 
		        <a href="/RoutePlanner/register.html"><li>Get Started</li></a>
		        {% endif %}
                
<!--                 <li id="accountLi"> <a href="accountpage.html"> My Account </a> </li> -->
<!--                 <li id="additionalLi"> <a href="#"> Additional Functionality </a> </li> -->
            </ul>
	        </div>
	    </nav>
	    <div id='title'>
	        <h1>Log In to MegaByke</h1>
	        
	        <div align="center">
	
	        <form id="login_form" method="post" action="/RoutePlanner/login.html">
	            {% csrf_token %}
                <table> 
                    <tr> <td>
	                   Username:
                    </td>
                    <td>
                        <input type="text" id="unameinput" placeholder="username" size="50" />
                    </td>
                </tr>
	            <tr> <td>
	            Password: </td>
                <td> <input type="password" id="passinput" size="50" /> </td>
                </tr>
            </table>
            <input type="submit" value="Submit" />
	        </form>
	        </div>
        </div>

    </body>
</html>