<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>MegaByke Route Planner</title>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" type="text/css" href="{% static "css/htmlStyle.css" %}" />
    </head>

    <body>
	    <nav>
	        <div id='navBar'>
            <ul>
            	<a href="/RoutePlanner/"> <li>Home </li></a> 
            	<a href="/RoutePlanner/about.html"> <li> About </li></a>                 
                {% if user.is_authenticated %}
		        <a href="/RoutePlanner/logout.html"> <li>Log Out</li></a> 
		        <a href="/RoutePlanner/account.html"> <li>My Account</li></a> 
		        {% else %}
		        <a href="/RoutePlanner/login.html"><li>Log In</li></a> 
		        <a href="/RoutePlanner/register.html"><li>Get Started</li></a> 
		        {% endif %}
                
            </ul>
	        </div>
	    </nav>
        <div id='title'>
            <h1> Create An Account </h1>
            
            {% if registered %}
            <div align="center">
            	Thank you for creating an account! <br/>
            	<a href="/RoutePlanner/"> <font color = "blue">Return to RoutePlanner</font></a><br/>
            </div>
            
            {% else %}
            <div align="center">
            
            <form id="user_form" method="post" action="/RoutePlanner/register.html"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
	        </form>
	        </div>
	        {% endif %}
        </div>
    </body>
    
    

</html>