<!DOCTYPE html>
<html>

    <head>
        <title>Route Planner</title>
        <link rel="stylesheet" type="text/css" href="../templates/RoutePlanner/htmlStyle.css" />
    </head>

    <body>
        <div id='title'>
            <h1> Create an account </h1>
            
            {% if registered %}
            	Thank you for creating an account!
            	<a href="/RoutePlanner/">Return to the homepage</a>
            
            {% else %}
            
            <form id="user_form" method="post" action="/RoutePlanner/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
	        </form>
	        {% endif %}
        </div>
    </body>

</html>